# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# For production, you should only need one host as
# fastapi serves the svelte-kit built frontend and backend from the same host and port.
# To test with CORS locally, you can set something like
# CORS_ALLOW_ORIGIN='http://localhost:5173;http://localhost:8080'
CORS_ALLOW_ORIGIN='*'

# For production you should set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# Open Webui customization
WEBUI_URL='http://localhost:3001'
WEBUI_NAME='<Open Webui Name>'
OPENCLAW_OPENAI_PROXY='http://localhost:4010'

# OAUTH CONFIGURATION
# Set to true to enable OAuth signup
ENABLE_OAUTH_SIGNUP=true
OAUTH_CLIENT_ID=oauth_client_id
OAUTH_CLIENT_SECRET=secret
OPENID_PROVIDER_URL=https://<my_url>/realms/<my_realm>/.well-known/openid-configuration
OAUTH_PROVIDER_NAME=oauth_provider_name
OPENID_REDIRECT_URI=https://<openwebui_url>/oauth/oidc/callback
WEBUI_AUTH_SIGNOUT_REDIRECT_URL=https://<openwebui_url>/
